
.imgHeader{
    margin: 20px;
    display: flex;
}
.imgHeader h1{
    font-size: 40px;
}
.HeaderStatus{
    margin-left: 30px;
}

.userInfo span{
    padding-left: 20px;
    font-size: 20px;
}
.userInfo h1 {
    padding-bottom: 50px;
}

.informationUsers{
    width: 50%;
    margin: 10px;
    border: 3px solid black;
    background-color: rgba(100,100,100,0.4);
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    border-radius: 10px;

}

.informationUsers h3{
    color: #5a0505;
}
.aboutUser{
    padding: 20px;
    background: white;
}
.informationUsers button {
    float: right;
}



